* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 29;
    padding: 1rem 5%;
    background: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 2rem;
}

.hamburger {
    
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: block;
    cursor: pointer;
}

.dropdown {
    z-index: 2;
    display: none;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 4rem;
    background-color: white;
}

.dropdown a {
    display: block;
    text-decoration: none;
    padding: 0.75rem 0;
    font-size: 0.9rem;
    color: black;
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid black; */
    transition: color 0.3s ease, font-size 0.3s ease;
}

.dropdown a:hover {
    color: #dd0000;
    font-size: 1rem;
}

.logo {
    height: 50px; /* Adjust based on your logo size */
    width: auto;;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav-links a:hover {
    color: #dd0000;
    font-size: 1rem;
}

.cta-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cta-button {
    padding: 0.8rem 1.5rem;
    background: #dc0000;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.peic-section {
    background: #f5f5f5;
    padding: 4rem 5%;
    text-align: justify;
    margin-top: 4rem;
}

.peic-content {
    max-width: 800px;
    margin: 0 auto;
}

.peic-title {
    color: #1a237e;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    text-align: left;
}

.peic-grid {
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.peic-card {
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.peic-card h3 {
    color: #1a237e;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.peic-card h3 .icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid #1a237e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #1a237e;
}

.peic-card p {
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.peic-card div{
    display: none;
}

.focus-area,
.scope-of-service,
.benefits {
    cursor: pointer;
    text-decoration: underline;
    padding: 3px;
}

.focus-area-content,
.scope-of-service-content,
.benefits-content {
    display: none;
    padding-left: 50px;
}


.peic-button {
    display: inline-block;
    width: 48%;
    padding: 0.8rem;
    margin-top: 1rem;
    background: #1a237e;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    transition: background 0.3s ease;
}

.peic-button:hover {
    background: #3949ab;
}

.peic-button:first-child {
    margin-right: 4%;
}


.contact-section {
    background-color: #1a237e;
    padding: 4rem 5%;
    color: white;
}

.contact-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-full {
    margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.file-input-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.file-label {
    flex: 1;
    padding: 0.8rem;
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

#file-upload {
    display: none;
}

.file-upload-btn {
    background: transparent;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-icon {
    width: 20px;
    height: 20px;
    color: white;
}

.submit-btn {
    display: block;
    margin: 2rem auto;
    padding: 0.8rem 3rem;
    background: #dc0000;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-info {
    text-align: center;
    margin-top: 3rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.peic-feature-benefits {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 1rem;
}

.peic-feature-benefits-box {
    flex: 1;
    background-color: #1a237e;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, #1a237e 15%, #f5f5f5 10%);
}

.peic-feature-benefits-box h2 {
    color: #f5f5f5;
}
  
.peic-feature-benefits-card {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);;
    background-color: #f5f5f5;
}

.peic-feature-benefits-card h4 {
    color: #1a237e;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.peic-feature-benefits-card p {
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.footer {
    background: #1a237e;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    font-size: 24px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    transition: transform 0.3sease;
    text-decoration: none;
}
  
.whatsapp-button:hover {
    transform: scale(1.1);
}

.phone-button {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    color: black;
    font-size: 24px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    transition: transform 0.3sease;
    text-decoration: none;
}
  
.phone-button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
        gap: 1rem;
    }
    .form-row {
        grid-template-columns: 1fr;
    }

    .logo {
        height: 40px;
    }

    .peic-feature-benefits {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translate(100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.dropdown.show {
    display: flex;
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.nav-links-social{
    a{
        font-size: 1.5rem;
    }
}
.drop-nav-links{
    display: flex;
    width: 100%;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;

    a{
        margin: 0;
        padding: 0;
        width: auto;
        font-size: 1.7rem;
    }
}